.advantages {
  text-align: center;
  color: $primary-color;
}

.advantages__slogan-wrapper {
  padding: 20px;
}

.advantages__slogan {
  font-family: $main-font;
  font-size: 24px;
  font-weight: 300;
}

.advantages__list {
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 435px;
  background-color: $bg-color;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  padding-bottom: 260px;
}

.advantages__title {
  font-family: $main-font;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.advantages__description {
  font-family: $main-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

@media (min-width: $tablet-min-width) {
  .advantages {
    text-align: left;
    margin-bottom: 50px;
  }

  .advantages__slogan-wrapper {
    min-height: 200px;
  }

  .advantages__slogan {
    font-size: 40px;
    margin: 0;
  }

  .advantages__list {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 465px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat left top;
    background-size: 270px;
  }

  .advantages__item {
    width: 50%;
  }
}
