@import "variables";

.button {
  font-family: $main-font;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: #ffffff solid 3px;
  border-radius: 35px;
  height: 55px;
  width: 280px;
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  line-height: 47px;
  cursor: pointer;
}

.button--download {
  color: #ffffff;
}

.button--submit {
  color: $secondary-color;
  border-color: $secondary-color;
}

.button--cancel {
  border-color: #000000;
  color: #000000;
  opacity: 0.1;
}

.square-button {
  font-family: $main-font;
  background-color: #2aab6d;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  width: 280px;
  height: 63px;
  padding: 0;
  cursor: pointer;
}
