.competition-form {
  color: $primary-color;
  font-family: $main-font;
}

.competition-form__promo {
  padding: 20px;
  padding-top: 45px;
  padding-bottom: 2px;
  margin: 0;
}

.competition-form__fieldset {
  padding: 37px 20px 41px 20px;
}

.competition-form__fieldset:nth-of-type(3) {
  .competition-form__title {
    display: none;
  }
}

.competition-form__label {
  font-size: 14px;
  margin-bottom: 22px;
  display: block;

  &--white {
    color: $secondary-color;
    text-transform: uppercase;
  }
}

.competition-form__label--reversed {
  color: $secondary-color;
  text-transform: uppercase;
}

.competition-form__label:last-of-type {
  margin-bottom: 0;
}

.competition-form__title {
  font-size: 14px;
  text-transform: uppercase;
  color: $secondary-color;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}

.competition-form__title--checkbox {
  margin-bottom: 40px;
}

.competition-form__title--radio {
  margin-bottom: 36px;
}

.competition-form__title--textarea {
  margin-bottom: 16px;
}

.competition-form__fieldset--grey {
  background-color: $bg-color;
}

.competition-form__text {
  margin-left: 22px;
  display: block;
  line-height: 19px;
}

.competition-form__input {
  display: block;
  border: 2px solid rgba(#000000, 0.1);
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
  font-family: $main-font;
  font-size: 18px;
  line-height: 19px;
  color: $primary-color;
  width: 100%;
  margin-top: 11px;
  outline: none;

  &:hover {
    border: 2px solid $primary-color;
  }

  &:focus {
    border: 2px solid $secondary-color;
  }
}

.competition-form__textarea {
  width: 100%;
  height: 200px;
  font-family: $main-font;
  color: $primary-color;
  font-size: 18px;
  line-height: 30px;
  padding: 14px 20px;
  box-sizing: border-box;
  border: 2px solid rgba(#000000, 0.1);
  border-radius: 3px;
}

.competition-form__submit-wrapper {
  padding: 20px;
  padding-top: 3px;
  text-align: center;
}

.competition-form__submit-button {
  margin-bottom: 38px;
}

.competition-form__legend {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  margin: 0;

  sup {
    color: $secondary-color;
  }

  span {
    display: none;
  }
}

.competition-form__input::placeholder,
.competition-form__textarea::placeholder {
  font-family: $main-font;
  color: $primary-color;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: $tablet-min-width) {
  .competition-form__fieldsets {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .competition-form__fieldset {
    margin-bottom: 65px;
    padding: 0;
    position: relative;
  }

  .competition-form__promo {
    padding: 60px;
    padding-top: 90px;
    padding-bottom: 53px;
  }

  .competition-form__title {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    text-align: center;

    br {
      display: none;
    }

    span {
      background-color: #ffffff;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .competition-form__label {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
  }

  .competition-form__label--white:last-of-type {
    margin-bottom: 0;
  }

  .competition-form__text {
    margin-left: 0;
    margin-right: 20px;
  }

  .competition-form__input {
    flex-grow: 1;
    margin: 0;
  }

  .competition-form__label--reversed {
    flex-direction: column-reverse;
    align-items: left;
    margin-bottom: 35px;

    .competition-form__text {
      margin-left: 19px;
    }

    .competition-form__input {
      margin-bottom: 15px;
    }
  }

  .competition-form__fieldset--grey {
    background-color: #ffffff;
  }

  .competition-form__fieldset:nth-of-type(1) {
    order: 1;
  }

  .competition-form__fieldset--checkboxes {
    order: 4;
    padding: 53px 58px 47px 58px;
  }

  .competition-form__fieldset:nth-of-type(3) {
    order: 3;
    padding: 45px 58px 32px 58px;

    .competition-form__title {
      display: block;
    }
  }

  .competition-form__fieldset:nth-of-type(4) {
    order: 2;
    padding: 52px 58px;
  }

  .competition-form__fieldset:nth-of-type(5) {
    order: 5;
    padding: 45px 58px 46px 58px;
    margin-bottom: 44px;
  }

  .competition-form__fieldset--bordered {
    border: 2px solid rgba(#000000, 0.1);
  }

  .competition-form__submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .competition-form__textarea {
    height: 193px;
  }

  .competition-form__submit-button {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-min-width) {
  .competition-form__promo {
    padding: 92px 200px 85px 200px;
  }

  .competition-form__fieldsets {
    @include desktop-centering;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .competition-form__fieldset {
    width: 100%;
    box-sizing: border-box;
  }

  .competition-form__fieldset:nth-of-type(1),
  .competition-form__fieldset:nth-of-type(4) {
    width: 435px;
  }

  .competition-form__fieldset:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    padding: 45px 58px 17px 58px;
  }

  .competition-form__fieldset:nth-of-type(4) {
    padding: 48px 73px;
  }

  .competition-form__fieldset:nth-of-type(5) {
    padding-top: 42px;
    padding-bottom: 38px;
    margin-bottom: 65px;
  }

  .competition-form__fieldset--checkboxes {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    padding-bottom: 11px;
  }

  .competition-form__label--reversed {
    margin-bottom: 0;
    width: 375px;
  }

  .competition-form__label--checkbox {
    margin-bottom: 43px;
  }

  .competition-form__label--checkbox:nth-of-type(1) {
    order: 1;
    width: 315px;
  }

  .competition-form__label--checkbox:nth-of-type(2) {
    order: 4;
    width: 315px;
  }

  .competition-form__label--checkbox:nth-of-type(3) {
    order: 2;
    width: 295px;
  }

  .competition-form__label--checkbox:nth-of-type(4) {
    order: 5;
    width: 295px;
  }

  .competition-form__label--checkbox:nth-of-type(5) {
    order: 3;
    width: 240px;
  }

  .competition-form__label--checkbox:nth-of-type(6) {
    order: 6;
    width: 240px;
  }

  .competition-form__textarea {
    height: 128px;
  }

  .competition-form__legend span {
    display: inline;
  }

  .competition-form__submit-wrapper {
    @include desktop-centering;
  }
}
