.contacts {
  font-family: $main-font;
  text-align: center;
  padding-top: 42px;
  line-height: 31px;
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  padding-top: 27px;
}

.contacts__feedback {
  font-size: 24px;
  font-weight: 300;
  color: $primary-color;
  margin: 0;
}

.contacts__item {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 11px;
}

.contacts__link {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  text-decoration: none;
}

.contacts__map {
  background-image: url("../img/big-map.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  position: relative;
}

.contacts__map::before {
  content: "";
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: $tablet-min-width) {
  .contacts {
    padding-top: 0;
    line-height: 49px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 45px;
    padding-bottom: 28px;
  }

  .contacts__item {
    width: 50%;
    line-height: 18px;
    margin-bottom: 46px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts__link {
    display: block;
    margin-top: 13px;
    line-height: 27px;
  }

  .contacts__feedback {
    font-size: 40px;
    padding: 45px;
    padding-bottom: 0;
    margin: 0;
  }

  .contacts__map {
    min-height: 374px;
  }
}

@media (min-width: $desktop-min-width) {
  .contacts__feedback {
    @include desktop-centering;
  }

  .contacts__list {
    @include desktop-centering;
    display: flex;
  }

  .contacts__map {
    min-height: 500px;
  }
}
