.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copyright__text {
  font-family: $main-font;
  font-size: 14px;
  color: $primary-color;
  margin-right: 15px;
  margin-bottom: 20px;
}

.copyright__link {
  fill: $secondary-color;
}

.copyright__link:hover {
  fill: $primary-color;
}

.copyright__link:active {
  fill: #bec2c7;
}

@media (min-width: $tablet-min-width) {
  .copyright__link {
    margin-top: 6px;
  }
}

@media (min-width: $desktop-min-width) {
  .copyright__text {
    font-size: 18px;
  }
}
