.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copyright__text {
  font-family: $main-font;
  font-size: 14px;
  color: $primary-color;
  margin-right: 15px;
}

.copyright__link:hover {
  path {
    fill: $primary-color;
  }
}

.copyright__link:active {
  path {
    fill: #bec2c7;
  }
}

@media (min-width: $desktop-min-width) {
  .copyright__text {
    font-size: 18px;
  }
}
