.download {
  position: relative;
  padding-top: 465px;
  z-index: 1;
  background-color: #1d2631;
  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 270px right 62px, center -6px;
  background-size: 260px, 730px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
    background-position: bottom 270px right 62px, center -6px;
    background-size: 260px, 730px;
  }
}

.download__wrapper {
  background-color: #1d2631;
  padding: 20px;
  padding-top: 28px;
  text-align: center;
}

.download__slogan {
  display: none;
}

.download__list {
  list-style-type: none;
  padding: 30px 38px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 300px;
  margin: 0 auto;
}

.download__information {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
  line-height: 24px;
  max-width: 300px;
  margin: 0 auto;
}

.download__link--android svg {
  margin-right: 5px;
}

.download__link--microsoft svg {
  margin-bottom: 1px;
}

@media (min-width: $tablet-min-width) {
  .download__wrapper {
    background-color: transparent;
    padding-right: 340px;
    padding-top: 203px;
  }

  .download {
    min-height: 730px;
    padding-top: 0;
    background-image:
      url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom 1px right -20px, center 2px;
    background-size: 700px, 1200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .download__slogan {
    font-family: $main-font;
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
    display: block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 49px;
    margin: 0 auto;
    margin-bottom: 29px;
    max-width: 300px;
  }

  .download__list {
    padding: 43px 48px;
    padding-bottom: 35px;
  }

  .download__information {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .download {
    min-height: 853px;
    background-image:
      url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom 0 right -117px, center 14px;
    background-size: 1050px, 2560px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/iphone-hand-desktop@2x.png"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .download__wrapper {
    @include desktop-centering;
    padding-right: 650px;
    padding-top: 219px;
  }

  .download__slogan {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  .download__button {
    font-size: 21px;
  }

  .download__list {
    padding-top: 67px;
    padding-bottom: 52px;
  }

  .download__link--android svg {
    margin-right: 5px;
  }

  .download__link--microsoft svg {
    margin-bottom: 3px;
  }
}
