.download {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0 180px,
    url("../img/bg-back-mobile@1x.jpg") no-repeat 0 5px;
  background-color: #1d2631;
  padding-top: 466px;
  position: relative;
  z-index: 1;
}

.download__wrapper {
  background-color: #1d2631;
  padding: 20px;
  padding-top: 28px;
  text-align: center;
  max-width: 300px;
}

.download__slogan {
  display: none;
}

.download__list {
  list-style-type: none;
  margin: 0;
  padding: 30px 38px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.download__information {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  line-height: 24px;
}

@media (min-width: $tablet-min-width) {
  .download__wrapper {
    background-color: transparent;
    position: relative;
    top: 174px;
    padding-right: 340px;
  }

  .download {
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat 190px 185px,
      url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
    min-height: 730px;
    padding-top: 0;
    background-size: 450px, 100%;
  }

  .download__slogan {
    font-family: $main-font;
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
    display: block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 49px;
    margin: 0;
    margin-bottom: 29px;
  }

  .download__list {
    padding: 43px 48px;
    padding-bottom: 35px;
  }

  .download__information {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .download {
    min-height: 867px;
  }

  .download__wrapper {
    @include desktop-centering;
    padding-right: 650px;
    padding-top: 59px;
  }

  .download__slogan {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  .download__button {
    font-size: 21px;
  }

  .download__list {
    padding-top: 66px;
    padding-bottom: 52px;
  }
}
