.editor__text {
  color: $primary-color;
  margin: 0;
}

.editor__form {
  background-color: $bg-color;
  padding: 20px;
}

.editor__image {
  margin-bottom: 40px;
}

.editor__button:first-of-type {
  margin-bottom: 12px;
}

.editor__ranges {
  .editor__icon {
    display: none;
  }
}

@media (min-width: $tablet-min-width) {
  .editor__text {
    min-height: 190px;
  }

  .editor__image {
    width: 50%;
    margin-right: 45px;
  }

  .editor__form {
    display: flex;
  }

  .editor__toggles {
    display: none;
  }

  .editor__ranges {
    .editor__icon {
      display: block;
    }
  }

  .editor__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .editor__range-wrapper {
    display: flex;
  }
}

@media (min-width: $desktop-min-width) {
  .editor {
    @include desktop-centering;
  }

  .editor__text {
    @include desktop-centering;
  }

  .editor__button-wrapper {
    display: flex;
  }
}
