.form-range {
  position: relative;
  width: 240px;
}

.form-range__scale {
  height: 2px;

  background-color: $primary-color;
}

.form-range__toggle {
  position: absolute;
  top: -6px;
  left: 80%;

  width: 14px;
  height: 14px;

  background-color: $bg-color;
  border: 2px solid $secondary-color;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.form-range__toggle:hover {
  background-color: $secondary-color;
}

@media (min-width: $tablet-min-width) {
  .form-range {
    width: 200px;
  }
}
