.gallery {
  padding: 20px;
  color: $primary-color;
}

@media (min-width: $tablet-min-width) {
  .galery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery__text {
    min-height: 230px;
  }
}

@media (min-width: $desktop-min-width) {
  .gallery {
    @include desktop-centering;
  }
}
