.gallery {
  padding: 20px;
  color: $primary-color;
}

.gallery__text {
  margin-top: 25px;
  margin-bottom: 49px;
}

@media (min-width: $tablet-min-width) {
  .gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery__text {
    min-height: 88px;
    margin-top: 72px;
    margin-bottom: 47px;
  }
}

@media (min-width: $desktop-min-width) {
  .gallery {
    padding: 0;
  }

  .gallery__text {
    margin-top: 92px;
    margin-bottom: 60px;
  }

  .gallery__wrapper {
    justify-content: center;
  }
}
