.header {
  background-color: rgba(#000000, 0.3);
  position: relative;
  min-height: 70px;
  z-index: 2;
  margin-bottom: -70px;
  box-sizing: border-box;

  .header__nav {
    display: none;
  }
}

.header--active {
  background-color: #283645;

  .header__nav {
    display: block;
  }

  .header__menu-icon--cross {
    display: inline-block;
  }

  .header__menu-icon--burger {
    display: none;
  }
}

.header__wrapper {
  padding: 21px;
  display: flex;
  justify-content: space-between;
}

.header__menu-toggle {
  background: none;
  border: none;
  padding: 0;
}

.header__menu-icon--cross {
  display: none;
}

.header__menu-icon:hover {
  path {
    fill: $secondary-color;
  }
}

.header__menu-icon:active {
  opacity: 0.5;
}

@media (min-width: $tablet-min-width) {
  .header {
    margin-bottom: -112px;
  }

  .header__wrapper {
    padding: 27px 20px;
    min-height: 55px;
  }

  .header__logo-link img {
    height: 40px;
    width: 148px;
  }
}

@media (min-width: $desktop-min-width) {
  .header {
    padding: 22px 0;
    margin-bottom: -120px;
  }

  .header__wrapper {
    padding: 0;
  }

  .header--active {
    background-color: rgba(#000000, 0.3);
  }

  .header__menu-toggle {
    display: none;
  }

  .header__centering {
    @include desktop-centering;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
