.main-nav {
  background-color: #283645;
  width: 100%;
}

.main-nav__list {
  text-align: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid #000000;
  flex-wrap: wrap;
}

.main-nav__item {
  font-family: $main-font;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  list-style-type: none;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
  padding: 21px 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

.main-nav__link {
  display: block;
}

.main-nav__link:hover {
  color: $secondary-color;
}

.main-nav__link:active {
  opacity: 0.5;
}

@media (min-width: $desktop-min-width) {
  .main-nav {
    display: block;
    background-color: transparent;
    width: auto;
  }

  .main-nav__list {
    display: flex;
    border: none;
    justify-content: space-between;
    width: 620px;
  }

  .main-nav__item {
    text-transform: none;
    font-weight: normal;
    border: none;
    padding: 21px 0 10px 0;
    margin-bottom: 11px;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 20px;
  }

  .main-nav__item--active {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 8px;
  }
}
