.packages {
  background-color: $bg-color;
  padding: 20px;
  color: $primary-color;
}

.packages__wrapper {
  overflow: scroll;
}

.packages__table {
  width: 280px * 3;
}

.packages__cell {
  width: 280px;
}

.packages__cell--heading {
  background-color: #283645;
  color: #ffffff;
  font-family: $main-font;
  font-size: 18px;
  font-weight: bold;
}

.packages__price {
  font-size: 24px;
  font-weight: 300;
}

.packages__row .packages__cell:first-child {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .packages__table {
    width: 100%;
  }

  .packages__cell {
    width: auto;
  }

  .packages__cell-text {
    display: none;
  }

  .packages__row .packages__cell:first-child {
    display: block;
  }

  .packages__toggles {
    display: none;
  }
}

@media (min-width: $desktop-min-width) {
  .packages__wrapper {
    @include desktop-centering;
  }
}
