.packages {
  background-color: $bg-color;
  padding: 20px 0;
  padding-top: 90px;
  color: $primary-color;
  min-height: 360px;
  position: relative;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.packages__wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 35px;
  display: flex;
  min-height: 320px;
  box-sizing: border-box;
}

.packages__wrapper::before,
.packages__wrapper::after {
  content: "";
  width: 20px;
  height: 50px;
  flex-shrink: 0;
}

.packages__table {
  width: 280px * 3;
  flex-shrink: 0;
  font-family: $main-font;
  border-collapse: collapse;
}

.packages__cell {
  width: 320px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 20px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  height: 61px;
}

.packages__cell--heading {
  background-color: #283645;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  height: 99px;
  box-sizing: border-box;
}

.packages__cell--enabled {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 93%;
}

.packages__cell--disabled {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 93%;
}

.packages__price {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 12px;
  display: block;
}

.packages__row .packages__cell:first-child {
  position: absolute;
  width: 190px;
  left: 22px;
  border-right: none;
  border-left: none;
  height: 63px;
}

.packages__row:nth-child(2) .packages__cell:first-child {
  top: 189px;
}

.packages__row:nth-child(3) .packages__cell:first-child {
  top: 250px;
}

.packages__row:nth-child(4) .packages__cell:first-child {
  top: 311px;
}

.packages__row:first-child .packages__cell:first-child {
  opacity: 0;
  border: transparent;
}

@media (min-width: $tablet-min-width) {
  .packages {
    padding-top: 85px;
    padding-bottom: 0;
    min-height: 0;
  }

  .packages__table {
    width: 100%;
  }

  .packages__wrapper {
    overflow: auto;
    padding: 0 20px;
    min-height: 290px;
  }

  .packages__cell {
    width: 25%;
    padding: 13px 16px;
    background-position: center;
    height: 46px;
  }

  .packages__cell-text {
    display: none;
  }

  .packages__cell--heading {
    text-align: center;
    font-size: 16px;
    padding: 20px 20px 13px 20px;
    height: auto;
  }

  .packages__cell--heading:nth-of-type(2) {
    border-left: none;
  }

  .packages__cell--heading:nth-of-type(4) {
    border-right: none;
  }

  .packages__row .packages__cell:first-child {
    display: table-cell;
    position: static;
    text-transform: none;
    width: 114px;
    border: 2px solid #e5e5e5;
    height: auto;
  }

  .packages__price {
    font-size: 18px;
    display: block;
    margin-top: 8px;
  }

  .packages__toggles {
    display: none;
  }

  .packages__wrapper::before,
  .packages__wrapper::after {
    display: none;
  }
}

@media (min-width: $desktop-min-width) {
  .packages {
    padding-top: 148px;
    padding-bottom: 88px;
    background-size: 200%;
    background-position: center -28px;
  }

  .packages__wrapper {
    @include desktop-centering;
  }

  .packages__cell {
    font-size: 18px;
    padding: 22px 20px 23px 20px;
  }

  .packages__price {
    font-size: 24px;
    margin-top: 13px;
  }
}
