.popup {
  font-family: $main-font;
  line-height: 24px;
  padding: 40px 20px 50px 20px;
  text-align: center;
  box-shadow: 0 7px 25px 0 rgba(#000000, 0.1);
  display: none;
}

.popup__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-top: 0;
  margin-bottom: 27px;
}

.popup__text {
  font-size: 14px;
  color: $primary-color;
  margin-top: 0;
  margin-bottom: 37px;
}

.popup--submit {
  padding-bottom: 0;
}

.popup__button-wrapper--grey {
  background-color: #f2f2f2;
  margin-left: -20px;
  margin-right: -20px;
  padding: 50px 0;
}
