.popup {
  font-family: $main-font;
  line-height: 24px;
  text-align: center;
  box-shadow: 0 7px 30px 0 rgba(#000000, 0.15);
  background-color: #ffffff;
  width: 320px;
  margin-left: -160px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: none;
}

.popup--active {
  display: block;
}

.popup--error {
  padding: 40px 20px 50px 20px;
  min-height: 290px;
  margin-top: -145px;
}

.popup--submit {
  min-height: 380px;
  margin-top: -190px;
  padding-bottom: 0;
}

.popup__wrapper {
  padding: 40px 20px 0 20px;
}

.popup__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-top: 0;
  margin-bottom: 27px;
}

.popup__text {
  font-size: 14px;
  color: $primary-color;
  margin-top: 0;
  margin-bottom: 37px;
}

.popup__button-wrapper--grey {
  background-color: #f2f2f2;
  padding: 50px 0;
}

@media (min-width: $tablet-min-width) {
  .popup {
    width: 460px;
    margin-left: -230px;
  }

  .popup--submit {
    min-height: 430px;
    margin-top: -215px;
  }

  .popup--error {
    padding: 50px 80px;
    min-height: 360px;
    margin-top: -180px;
  }

  .popup__wrapper {
    padding: 50px 80px 0 80px;
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
  }

  .popup__text {
    font-size: 18px;
  }
}

@media (min-width: $desktop-min-width) {
  .popup--error {
    width: 460px;
  }

  .popup__wrapper {
    padding: 50px 150px 0 150px;
  }

  .popup--submit {
    min-width: 780px;
    margin-left: -390px;
    min-height: 380px;
    margin-top: -190px;

    .popup__button {
      width: 460px;
      max-width: 100%;
    }
  }
}
