.post {
  background-color: $bg-color;
  font-family: $main-font;
  margin-bottom: 19px;
}

.post__wrapper {
  padding: 15px 17px;
}

.post__author {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 3px;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__content {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 13px;
}

.post__like-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post__like-button {
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  border: none;
  width: 13px;
  height: 12px;
  margin-right: 19px;
}

.post__like {
  font-size: 12px;
  color: $secondary-color;
  text-transform: uppercase;
  margin: 0;
}

.post__image {
  width: 100%;
}

.post--wide .post__image {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
}

@media (min-width: $tablet-min-width) {
  .post {
    width: calc(50% - 10px);
  }

  .post__wrapper {
    position: relative;
  }

  .post--wide {
    width: 100%;

    .post__like-wrapper {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .post__like-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-min-width) {
  .post {
    width: calc(33% - 10px);
    margin-bottom: 50px;
  }

  .post--wide {
    width: 100%;
  }
}
