.research {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .research {
    display: block;
    margin-bottom: 37px;
  }

  .research__centering {
    padding: 46px 30px 46px 50%;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 21px 9px;
    background-size: 238px;
    position: relative;
    padding-left: 50%;
  }

  .research__centering::before {
    content: "24";
    width: 202px;
    height: 202px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    border: 13px solid $secondary-color;
    border-radius: 50%;
    left: 39px;
    top: 64px;
    font-size: 96px;
    color: $secondary-color;
    font-family: $main-font;
    font-weight: bold;
    text-align: center;
    line-height: 165px;
  }

  .research__title {
    font-family: $main-font;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
  }

  .research__text {
    font-family: $main-font;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 13px;
  }

  .research__link {
    font-family: $main-font;
    font-size: 14px;
    color: $secondary-color;
  }
}

@media (min-width: $desktop-min-width) {
  .research {
    background-color: $bg-color;
    margin-bottom: 0;
  }

  .research_centering::before {
    width: 253px;
    height: 253px;
    font-size: 120px;
    border: 16px solid $secondary-color;
    left: 153px;
    top: 113px;
    line-height: 208px;
  }

  .research__centering {
    @include desktop-centering;
    padding-top: 137px;
    padding-bottom: 112px;
    padding-left: 376px;
    background-position: 131px 44px;
    background-size: 300px;
  }

  .research__title {
    margin-bottom: 21px;

    br {
      display: none;
    }
  }

  .research__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
