.research {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .research {
    display: block;
    padding: 46px;
    padding-left: 50%;
    padding-right: 30px;
    margin-bottom: 37px;
  }

  .research__title {
    font-family: $main-font;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
  }

  .research__text {
    font-family: $main-font;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 13px;
  }

  .research__link {
    font-family: $main-font;
    font-size: 14px;
    color: $secondary-color;
  }
}

@media (min-width: $desktop-min-width) {
  .research {
    background-color: $bg-color;
    padding: 0;
    padding-top: 137px;
    min-height: 320px;
    margin-bottom: 0;
  }

  .research__centering {
    @include desktop-centering;
    padding-left: 376px;
  }

  .research__title {
    margin-bottom: 21px;

    br {
      display: none;
    }
  }

  .research__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
