.reviews {
  background-color: #ffffff;
  font-family: $main-font;
}

.reviews__wrapper {
  text-align: center;
  min-height: 352px;
}

.reviews__item {
  margin: 0;
  padding: 44px 20px 25px 20px;
}

.reviews__author {
  font-family: $main-font;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.reviews__age {
  display: none;
}

.reviews__text {
  font-family: $main-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  color: $primary-color;
  margin: 0;
  margin-top: 16px;
}

.reviews__arrows {
  display: none;
}

.reviews__toggles {
  padding: 0 20px;
}

@media (min-width: $tablet-min-width) {
  .reviews__wrapper {
    min-height: 299px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2px;
  }

  .reviews__author {
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__age {
    display: block;
    font-size: 14px;
    font-weight: normal;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-min-width) {
  .reviews {
    @include desktop-centering;
    padding-top: 140px;
  }

  .reviews__wrapper {
    min-height: 274px;
  }

  .reviews__item {
    padding: 44px 80px 25px 80px;
    margin-bottom: 0;
  }

  .reviews__author {
    font-size: 24px;
    line-height: 32px;
  }

  .reviews__age {
    font-size: 18px;
  }

  .reviews__arrows {
    display: block;
  }

  .reviews__toggles {
    display: none;
  }
}
