@import "variables";

.review {
  background-color: #ffffff;
  font-family: $main-font;
}

.reviews__wrapper {
  text-align: center;
}

.reviews__item {
  margin: 0;
  padding: 20px;
}

.reviews__author {
  font-family: $main-font;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.reviews__age {
  display: none;
}

.reviews__text {
  font-family: $main-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: $primary-color;
}

@media (min-width: $tablet-min-width) {
  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__age {
    display: block;
    font-size: 14px;
    font-weight: normal;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
  }
}
