.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.slider__toggles {
  text-align: center;
}

.slider__toggle {
  background-color: #bec2c7;
  border: 3px solid transparent;
  background-clip: content-box;
  width: 6px;
  height: 6px;
  display: inline-block;
  padding: 0;
  border-radius: 50%;
  box-sizing: content-box;
  margin: 0 5px;
}

.slider__toggle:hover {
  background-color: #7e868f;
}

.slider__toggle:active {
  background-color: #e9ebec;
}

.slider__toggle--active {
  background-color: #ffffff;
  border: 3px solid #000000;
}

@media (min-width: $desktop-min-width) {
  .slider {
    position: relative;
  }

  .slider__button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 73px;
    padding: 0;
    cursor: pointer;

    svg {
      fill: #bec2c7;
    }
  }

  .slider__button:hover svg {
    fill: #7e868f;
  }

  .slider__button:active svg {
    fill: #e9ebec;
  }

  .slider__button--prev {
    left: 0;
  }

  .slider__button--next {
    right: 0;
  }
}
