@import "fonts";
@import "variables";
@import "buttons";
@import "header";
@import "main-navigation";
@import "hero";
@import "download";
@import "advantages";
@import "reviews";
@import "slider";
@import "packages";
@import "gallery";
@import "post";
@import "editor";
@import "competition";
@import "main-footer";
@import "inner-footer";
@import "social";

body {
  padding: 0;
  margin: 0;
}

/*Временное правило, чтоб цвет ссылок не выедал глаза*/
a {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
